
MQL2FT/.vs/
MQL2FT/Tools/Java/

MQL2FT/EPTypes\.bat
MQL2FT/Tree\.txt

MQL2FT/*\.cmd
!MQL2FT/convert_mq4\.cmd
!MQL2FT/convert_mq4_color\.cmd
!MQL2FT/convert_mq4_ms\.cmd

MQL2FT/MQLFiles/*
!MQL2FT/MQLFiles/tests/
!MQL2FT/MQLFiles/web/

MQL2FT/MQL2FT/*\.win
!MQL2FT/MQL2FT/Makefile.win

MQL2FT/MQL2FT/MQL/mql4.cpp
MQL2FT/MQL2FT/MQL/mql4.h
MQL2FT/MQL2FT/MQL/SciDebug/

MQL2FT/MQL2FT/MQL2FT\.def

MQL2FT/Translator/EPTypes\.bat
MQL2FT/Translator/Tree\.txt
MQL2FT/Translator/Translator.vcxproj\.user

*.a
*.d
*.dll
*.exp
*.filters
*.gch
*.idb
*.ilk
*.ini
*.interp
*.iobj
*.ipdb
*.lib
*.log
!i14_Test_Technical_Indicators.log

*.o
*.obj
*.pch
*.pdb
*.tlog
*.tokens
*.user


/Docs
